html,body { margin:0; height:100%;}

.centralCity{
    background-image: url("../img/centralCity.jpg");
}

.textFlash{
    color: #FEDF1A;
}

.h-10{
    height: 10%;
}
.go{
    background-image: url("../img/Flash2.png");
}

